@use "../../shared/globalStyles/global" as *;

.gigonepage {
  &__body {
    @include page-grid;
    align-items: flex-start;
  }

  &__background {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    padding: 48px;
    border-radius: 16px;
    background-color: var(--color-background-reverse);
    border: 1px solid var(--color-border);
    width: 100%;
    height: fit-content;
  }

  &__left {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      grid-column: 1 / 10;
    }
  }

  &__right {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      grid-column: 10 / -1;
    }
  }

  &__top {
    grid-column: 1 / -1;
  }

  &__top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  &__line {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
  }

  &__shortInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__days {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    height: 16px;
  }
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 8px;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__greencheck {
    height: 16px;
  }
}
