@use "../../shared/globalStyles/global" as *;

.filterGigs {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}
