@use "../../shared/globalStyles/global" as *;

.progress-mini-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-mini-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  font-weight: bold;
  background: white;
}

.progress-mini-text {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .progress-mini-text strong {
    font-size: 14px;
  }

  .progress-mini-text p {
    font-size: 12px;
  }
}
