@use "../../shared/globalStyles/global" as *;

.progress-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 8px 16px;
  background: var(--color-background-grey);
  color: var(--color-secondary-grey);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  clip-path: polygon(
    0% 0%,
    calc(100% - 15px) 0%,
    100% 50%,
    calc(100% - 15px) 100%,
    0% 100%,
    15px 50%
  );

  &.completed {
    background: var(--color-accent);
    color: var(--color-reverse);
  }

  &.active {
    background: var(--color-primary);
    color: var(--color-reverse);
  }

  &:first-child {
    clip-path: polygon(
      0% 0%,
      calc(100% - 15px) 0%,
      100% 50%,
      calc(100% - 15px) 100%,
      0% 100%,
      0 0
    );
  }

  &:last-child {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 15px 50%);
  }
}
